<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel = "stylesheet" href="../css/connexion.css"/>
    
</head>
<body>
    <div class="headerConnexion" id="headerConnexion" >Ma page de connexion</div>
    <div class="center" id="center">
    <div class="formulaireConnexion">
        <div class="motConnexion" id="motConnexion">Nom</div>
    <input class="textName" id="nameConnexion" name="nameConnexion" placeholder="Nom" required>
    <div class="motPassword" id="motPassword">Mot de passe</div>
    <input class="textPassword" id="passwordConnexion" name="textPassword" placeholder="Mot de passe" type="password" required>
    <div class="motClick" id="motClick"></div>
    <button class="connexionButton" id="connexionButton" type="submit" onclick=window.location.href="../home/utilisateur.html"> Connexion </button>
    <p id="lien" > Oups! <a href="../home/forgetPassword.html">Mot de passe oublié ?</a></p>
    <p id="lien2" >Pas encore de compte ?<a href="../home/enregistrement.html">Creer un compte</a></p>
    </div>
    </div>
    <script src="../js/connexion.js"></script>
</body>
</html>
